# Prevents by default all dependency versions more recent than 7 days
# from being installed.
# If necessary (e.g. to install a urgent security fix), you can override
# this using `npm install <package>@<version> --min-release-age=0`
min-release-age=7

ignore-scripts=true
