.rush/
convex/
test/
convex.*.tgz
*-api-extractor.json
temp/
values-api-extractor.json
jest.config.js

*.test.ts
*.test.tsx
*.test.d.ts
*.test.d.ts.map
client_node_test_helpers.*
dist/internal-types/test
dist/types/test
test_fixtures
src/test
custom-vitest-environment.ts
vitest.config.js

.eslintrc.*
.prettierignore
.prettierrc.cjs
*.tgz
test-esm.mjs
jest.config.mjs
checkdeps.mjs
bundle-server.mjs
build.py
build.cjs
tmpPackage*
tmpDist*
api-extractor-configs/
*.log
.knip.json
.github

# rush output
*.chunks.jsonl
