temp
.git/
dist/
api-extractor-configs/reports
api-extractor-configs/temp
tmpDist*
management-openapi.json
function-logs-openapi.json
src/cli/generatedApi.ts
src/cli/lib/generatedFunctionLogsApi.ts
src/vendor
